.btn {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 6px solid #7871FC;
    border-bottom: 4px solid transparent;
}